<!DOCTYPE html>
<html>
  <head>
    <title>{{ title or "News to Speech" }}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='jquery.qubit.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.bonsai.js') }}"></script>
    <link href="{{ url_for('static', filename='jquery.bonsai.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <ol id="content">
      {% for provider in providers %}
        <li class="expanded provider">
          {{ provider.pretty_name }}
          <ol>
            {% for category in provider.query_categories() %}
              <li class="category">
                {{ category.name }}
                <ol>
                  {% for article in category.articles %}
                    <li class="article">{{ article.title }}
                      <details>
                        <p>{{ article.summary }}</p>
                      </details>
                    </li>
                  {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ol>
    <script>$
      $('#content').bonsai({
        expandAll: false,
        checkboxes: true, // depends on jquery.qubit plugin
        createInputs: 'checkbox' // takes values from data-name and data-value, and data-name is inherited
      });
    </script>
  </body>
</html>
