<!DOCTYPE html>
<html>
  <head>
    <title>{{ title or "News to Speech" }}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='jquery.qubit.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.bonsai.js') }}"></script>
    <link href="{{ url_for('static', filename='jQuery.AudioPlayer.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='jQuery.AudioPlayer.js') }}"></script>
    <link href="{{ url_for('static', filename='jquery.bonsai.css') }}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <script>
      function findArticleItem(article_id) {
        return $('li.article[data-id=' + article_id + ']')[0];
      }
      function playArticleAudio(article_id) {
        let url = '/audiofile/' + article_id;
        $.AudioPlayer.updateSource({source: url});
        $.AudioPlayer.play();
        $('input', findArticleItem(article_id))[0].checked = false;

        let title = $($('label', findArticleItem(article_id))[0]).text();
        $('#current-text').text(title);
      }
      function playNextArticle() {
        let nextArticle = $('li.article[data-id]').filter(function (x) {
          return $('input', this)[0].checked;
        })[0];
        if (nextArticle) {
          playArticleAudio(nextArticle.getAttribute('data-id'));
        }
      }
    </script>
    <div id="audio-header">
      <span id="current">Currently Playing: <span id="current-text"></span></span>
      <div id="audio-bar"></div>
    </div>
    <ol id="content">
      {% for provider in providers %}
        <li class="expanded provider">
          {{ provider.pretty_name }}
          <ol>
            {% for category in provider.query_categories() %}
              {% set articles = category.articles_for_provider(provider) %}
              <li class="category">
                {{ category.name.capitalize() }} ({{ articles|length }})
                <ol>
                  {% for article in articles %}
                    <li class="article" data-id="{{ article.article_id }}">
                      {{ article.title }}
                      <button onclick="playArticleAudio(this.getAttribute('data-id'))" data-id="{{ article.article_id }}">Play</button>
                      <ol>
                        <li class="summary">{{ article.summary }}</li>
                      </ol>
                    </li>
                  {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ol>
    <script>
      $.AudioPlayer.init({
        container: '#audio-bar',
        allowSeek: false,
        imagePath: '/static/image'
      });
      $($.AudioPlayer.elements.audioDom).on('ended', function () {
        playNextArticle();
      });
      $(window).on('keydown', function (ev) {
        if (ev.keyCode == 39) { // right
          playNextArticle();
          ev.preventDefault();
        }
        else if (ev.keyCode == 32) {
          $.AudioPlayer.toggleplay({
            pauseCallback: function() {},
            playCallback: function () {}
          });
          ev.preventDefault();
        }
      });
      $('#content').bonsai({
        expandAll: false,
        checkboxes: true, // depends on jquery.qubit plugin
        createInputs: 'checkbox' // takes values from data-name and data-value, and data-name is inherited
      });
    </script>
  </body>
</html>
