
html {
  font-family: "Fira Sans", serif;
}

body {
  padding-top: 8.5em;
}

#content li .thumb {
  display: none;
}

#content li.provider {
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

#content li.provider > label {
  font-size: 200%;
}

#content li.provider ol {
  margin-top: 1em;
}

#content li.category {
  padding-bottom: 1em;
}

#content li.category > label {
  font-size: 150%;
}

#content li.article > label {
  line-height: 150%;
}

#content li.summary {
  margin: 1em 1em;
}

#content li.article ol li input {
  display: none;
}

#content li.article > ol {
  margin-top: 0;
}

#audio-bar {
  margin-bottom: 1em;
}

#audio-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3af;
  right: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid #336588;
  z-index: 100;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

#audio-header #current {
  margin: 1em 0;
  display: block;
}
