[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

"newspaper3k" = "*"
"beautifulsoup4" = "*"
feedparser = "*"
"psycopg2" = "*"
requests = "*"
toml = "*"
sumy = "*"
numpy = "*"
pyaudio = "*"
flask-restful = "*"
pony = "*"

[requires]

python_version = "3.6"


[dev-packages]

jupyter = "*"
